@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: "Roboto", sans-serif;
}
p, h1, h2, h3, a, ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #222;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav li{
    margin-right: 20px;
    list-style-type: none;
}
nav h1{
    font-size: 3em;
}
nav p, nav a{
    color: #777;
    font-weight: 300;
}
h2{
    margin-bottom: 40px;
}
h3{
    text-transform: capitalize;
    margin-bottom: 8px;
}
.content { 
    margin-left: 20px
}
.create-blog form{
    max-width: 400px;
    margin: 0 auto;
}
.create-blog input,
.create-blog textarea{
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border-radius: 8px;
}
.create-blog label{
    display: "block";
    margin-top: 24px;
}
textArea{
    height: 120px
}
.create-blog button{
    margin-top: 20px;
    background: black;
    color: white;
    padding: 12px;
    border: 0;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 8px;

}

.blogs a{
    display: block;
    margin: 40px 0;
    padding-left: 30px;
    border-left: 6px solid #87CEFA;
}

.blogs a:hover h3{
    color: #87CEFA
}

.delete{
    color: red;
    cursor: pointer;
}

footer{
    color: #777;
    text-align: center;
    margin: 80px auto 20px;
}